[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "medcoupling"]
	path = medcoupling
	url = https://github.com/SalomePlatform/medcoupling.git
